<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="navbar">

    <a th:href="@{/}" class="logo" aria-label="Volver a inicio">
        <img th:src="@{/images/logo_2.png}"
             alt="Inmobiliarias Paqui"
             class="logo-img" />
    </a>

    <div style="margin-left: auto;">

        <div sec:authorize="!isAuthenticated()">
            <button class="btn-register" onclick="window.location.href='/login'">
                Iniciar sesión o registrarse
            </button>
        </div>

        <div sec:authorize="isAuthenticated()" class="dropdown-container">
            <button class="btn-dropdown" th:with="usuarioOptional=${@userService.findByEmail(#authentication.name)}">

                    <span th:if="${usuarioOptional.present}"
                          th:text="${usuarioOptional.get().nombre}">
                        Nombre
                    </span>

                <span th:unless="${usuarioOptional.present}"
                      sec:authentication="name">
                        Email
                    </span>

                <span style="margin-left:5px;">&#9662;</span>
            </button>

            <div class="dropdown-content">
                <a th:href="@{/perfil}">Mi Perfil</a>

                <form th:action="@{/logout}" method="post" style="margin: 0;">
                    <button type="submit" class="logout-button-dropdown">
                        Cerrar sesión
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/js/header.js}" defer></script>
</header>

</body>
</html>