<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Iniciar Sesión</title>

    <link rel="stylesheet" th:href="@{/css/buttons.css}" />
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}" />
</head>
<body>

    <div class="login-container">

        <div class="logo-container">
            <img th:src="@{/images/logo_2.png}" alt="Logo Inmobiliaria">
        </div>

        <h2>¡Hola de nuevo!</h2>
        <span class="subtitle">Ingresa tus credenciales para continuar</span>

        <div th:if="${param.error}" class="alert-error">
            Usuario o contraseña incorrectos.
        </div>
        <div th:if="${param.logout}" class="alert-error" style="background-color: #e6fffa; color: #007d6a; border-left-color: #007d6a;">
            Has cerrado sesión correctamente.
        </div>

        <div th:if="${successMessage}" class="alert" style="background-color: #d4edda; color: #155724;">
            <p th:text="${successMessage}"></p>
        </div>


        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <input type="email" id="username" name="username" class="form-control" placeholder="nombre@ejemplo.com" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required />
            </div>
            <button type="submit" class="btn-third mt-login">Iniciar sesión</button>
        </form>

        <div class="login-footer">
            <p>¿No tienes cuenta? <a th:href="@{/register}" class="auth-link">Regístrate aquí</a></p>
            <p style="margin-top: 10px;"><a th:href="@{/}" class="btn-secondary">Volver al Inicio</a></p>
        </div>

    </div>

</body>
</html>