<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/css/styleRegister.css">
</head>
<body>
    <div class="container">
        <h2>Registrate aquí</h2>

        <div th:if="${successMessage != null}" class="alert">
            <p th:text="${successMessage}"></p>
        </div>

        <div th:if="${errorMessage != null}" class="alert alert-danger">
            <p th:text="${errorMessage}"></p>
        </div>

       <form th:action="@{/register}" th:object="${user}" method="post" class="form-register">
            
            <input type="text" th:field="*{name}" placeholder="Nombre y apellidos" required>

            <input type="tel" th:field="*{phone}" placeholder="Numero de teléfono" required>
            
            <input type="email" th:field="*{email}" placeholder="Correo electronico" required>
            
            <input type="password" th:field="*{password}" placeholder="Contraseña" required>
            
           
            <button type="submit">Continuar</button>
        </form>

        

    </div>
</body>
</html>

