<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/styleRegister.css}">
</head>
<body>

    <div class="login-container" style="max-width: 550px;">

        <div class="logo-container">
            <img th:src="@{/images/logo_2.png}" alt="Logo Inmobiliaria">
        </div>

        <h2>Regístrate aquí</h2>
        <span class="subtitle">Crea tu cuenta para empezar</span>

        <div th:if="${successMessage}" class="alert-error" style="background-color: #e6fffa; color: #007d6a; border-left-color: #007d6a;">
             <span th:text="${successMessage}"></span>
        </div>
        <div th:if="${errorMessage}" class="alert-error">
             <span th:text="${errorMessage}"></span>
        </div>

        <form th:action="@{/register}" th:object="${user}" method="post">

            <div class="row-input">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" th:field="*{nombre}" class="form-control" placeholder="Tu nombre" required>
                </div>

                <div class="form-group">
                    <label for="apellido">Apellidos</label>
                    <input type="text" id="apellido" th:field="*{apellido}" class="form-control" placeholder="Tus apellidos" required>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" placeholder="nombre@ejemplo.com" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" th:field="*{password}" class="form-control" placeholder="Crea tu contraseña" required>
            </div>

            <div class="form-group">
                <label for="direccion">Dirección <small>(Opcional)</small></label>
                <input type="text" id="direccion" th:field="*{direccion}" class="form-control" placeholder="Ej. Calle Mayor, 1">
            </div>

            <input type="hidden" th:field="*{role}" th:value="${T(inmobiliaria.es.uclm.negocio.user.User.Role).INQUILINO}" />

            <button type="submit" class="btn-primary">Continuar</button>

        </form>

        <div class="login-footer">
            <p>¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión aquí</a></p>
        </div>

    </div>

</body>
</html>
